
<body>
  <header class="customHeader">
    <div class="customHeader">
      <img height="60%" src="../assets/img/Title.png" alt="titre coloré">
    </div>
  </header>
  <div class="container">
    <div class="firstCardsContainer">
      <img (click)="openDialog()" class="customRadius card" width="30%" src="/assets/img/blueBackCard.png" alt="">
      <img (click)="openDialogR()" class="customRadius card" width="30%" src="/assets/img/redBackCard.png" alt="">
    </div>
    <div class="secondCardsContainer">
      <img (click)="openDialogG()" class="customRadius card" width="30%" src="/assets/img/greenBackCard.png" alt="">
      <img (click)="openDialogY()" class="customRadius card" width="30%" src="/assets/img/yellowBackCard.png" alt="">
    </div>
  </div>
  
</body>

<router-outlet></router-outlet>
